body{
	background-color: $white;
	margin: 0px;
}

ul{
	li{
		list-style-type: none;
		padding: 5px;
	}
}

footer{
	font-size: $base-font-size;
	color: $dark-grey;
	font-family: "Questrial";

	a{
		color: $black;
		text-decoration: none;
	}
}