/* OLD */
$black: #404040;
$black-hover: #999999;
$white: #FFFFFF;
$background-light: #F9F9F9;

$default-grey: #999999;
$primary-blue: #2980B9;
$danger-red: #C0392B;
$info-yellow: #F39C12;
$warning-orange: #E67E22;
$success-green: #27AE60;
$disabled-grey: #BDC3C7;

$border-light-grey: #eee;


/* NEW */
