$white: #FFFFFF;

$light-grey: #EDF4F7;
$blue-grey: #DFEDF3;
$dark-grey: #A1A4A5;

$dark-blue: #155B92;

$black: #525252;

$fire-red: #CC4635;
$pink-red: #FF6276;

$color-map: (
	white: $white,
	light-grey: $light-grey,
	blue-grey: $blue-grey,
	dark-grey: $dark-grey,
	dark-blue: $dark-blue,
	black: $black,
	fire-red: $fire-red,
	pink-red: $pink-red
);
