.hero{
	background: url("../../images/superhero-bg.png") no-repeat right bottom;
	background-size: cover;
}
.full-height{
	min-height: 650px;
	height: 650px;
	position: relative;
	box-sizing: border-box;

	div.columns{

		p{
			color: $dark-grey;

			strong{
				color: $black;
				font-weight: 400;
				text-transform: uppercase;
				font-family: "Questrial";
				font-size: $base-font-size+9;
			}
		}

		p:first-of-type{
			margin-top:-80px;
		}

		&.va-container{
			display: table;
		
			.va-middle{
				display: table-cell;
				vertical-align: middle;
			}
		}

		&:first-of-type{
			height: 100%;
			margin-bottom: 0px;
		}

		&.stick-to-bottom{
			position: absolute;
   			bottom: 20px;

   			a:hover {
				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
				transform: translate3d(0, 0, 0);
			}
			a span{
				text-transform: uppercase;
				font-family: "Questrial";
				font-size: $base-font-size - 4;
				display: inline-block;
				margin-bottom: 5px;
			}
		}
	}
}