.full-height{
	min-height: 750px;
	height: 750px;
	position: relative;
	box-sizing: border-box;

	div.columns{

		p{
			color: $dark-grey;

			strong{
				color: $black;
			}
		}

		p:first-of-type{
			margin-top:-80px;
		}

		&.va-container{
			display: table;
		
			.va-middle{
				display: table-cell;
				vertical-align: middle;
			}
		}

		&:first-of-type{
			height: 100%;
			margin-bottom: 0px;
		}

		&.stick-to-bottom{
			position: absolute;
   			bottom: 20px;

   			a i:hover {
				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
				transform: translate3d(0, 0, 0);
			}
		}
	}
}